:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "font";
  src: url('../Font/font.ttf');
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #222;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 2vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'font';
}

.page-message{
  font-size: clamp(50px, 7vw, 100vw);
  text-transform: uppercase;
  font-weight: 600;
  color: #F1F1F1;
}