:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "font";
  src: url('../Font/font.ttf');
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #222;

}

body:has(.transition-container.transitioning) .content{
  transform: translateY(-15%);
}

.content{
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding: 2vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transition: transform 800ms cubic-bezier(0.75, 0, 0.25, 1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'font';
}

.page-message{
  font-size: clamp(50px, 10vw, 100vw);
  text-transform: uppercase;
  font-weight: 600;
  color: #F1F1F1;
}