.menu-button{
    position: fixed;
    top: 3vw;
    right: 3vw;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: #F1F1F1;
    cursor: pointer;
}

.menu-button .lines-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 60%;
    aspect-ratio: 1;
}

.menu-button .lines-container .line{
    width: 100%;
    height: 2px;
    background: #111;
}