.transition-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.transition-container .tile{
    position: relative;
    width: 100%;
    height: 100%;
    background: #F1F1F1;
}

@keyframes fade-in {
    0%{
        border-radius: 100% 100% 0 0;
        transform: translateY(100%);
    }
    100%{
        border-radius: 0;
        transform: translateY(0);
    }
}

.transition-container .transition-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.transition-container .loading-message{
    text-transform: uppercase;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 600;
    color: #333;
}