.transition-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-container.transitioning{
    pointer-events: all;
}

.transition-container .tile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F1F1F1;
    transform: translateY(100%);
    transition: transform 800ms cubic-bezier(0.75, 0, 0.25, 1);
}

.transition-container.transitioning .tile{
    transform: translateY(0);
}

.transition-container .transition-content{
    z-index: 10;
    overflow: hidden;
}

.transition-container .loading-message{
    display: block;
    transform: translateY(100%);
    text-transform: uppercase;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 600;
    color: #333;
    transition: transform 800ms cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0ms;
}

.transition-container.transitioning .loading-message{
    transform: translateY(0);
    transition-delay: 300ms;
}
